body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#map {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('assets/maps/map_angeles_gray.png') no-repeat;
    background-size: cover;
}

.marker {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;

}

#road-image {
    width: 100%;
    height: 25%;
}

#sidebar {
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    display: none;
    backdrop-filter: blur(10px);
}

#navigator {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #121212;
}

#navigator a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

#PTitle {
    font-weight: bold;
}

#Footer {
    align-items: center;
    background-color: #121212;
}

#Footer h2 {
    height: 100%;
    padding-top: 30px;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

#Footer p {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

#refresh-button {
    margin-left: auto; /* Push the button to the right */
    margin-right: 20px; /* Add some space to the right of the button */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Adjust the font size */
    color: #fff; /* Text color */
    background-color: #3498db; /* Background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add some border-radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#refresh-button:hover {
    background-color: #2980b9; /* Change background color on hover */
}

/* Add styles for the notification */
#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #2ecc71; /* Green background color */
    color: #fff; /* White text color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

#notification.hidden {
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden */
}